<div class="flex items-center py-1">
  <input
    class="form-control-m0"
    [(ngModel)]="searchModel"
    placeholder="Search by typing..."
    (keyup.enter)="search()"
  >

  <button *ngIf="searchModel.length > 0" (click)="clearSearch()">
    <ion-icon class="ml-1" name="close"></ion-icon>
  </button>
</div>
