.home-container {
  @apply flex justify-center p-6 sm:p-6 xl:px-16 md:py-16 2xl:px-32 md:flex-nowrap flex-wrap;

  app-new-transfer {
    @apply sm:w-full md:w-1/3 lg:w-80 md:mr-4 lg:mr-4 xl:mr-8 2xl:mr-12 mb-6;
  }

  app-recent-transactions {
    @apply sm:w-full md:w-2/3 lg:w-full mb-6;
    max-width: 50rem;
  }
}
