<div class="transaction-item-container" [ngStyle]="{'border-left-color': transfer?.categoryCode}">
  <p class="ml-5 mr-10 text-sm font-light	">{{ transfer?.dates?.valueDate | date: 'MMM dd' }}</p>

  <img class="w-9 h-9" [src]="transfer?.merchant?.name | merchantLogo">

  <div class="grow ml-10 mr-5">
    <p class="text-base">{{ transfer?.merchant?.name }}</p>
    <p class="text-sm mt-[-0.15rem] font-light">{{ transfer?.transaction?.type }}</p>
  </div>

  <p class="mr-5">{{ transfer?.transaction?.amountCurrency?.amount | currency }}</p>
</div>
