.sorting-container {
  @apply flex items-center justify-end;

  .sorting-option {
    @apply flex justify-start items-center pl-4 pr-6 py-2 cursor-pointer text-sm;

    border: #cbd5e1 solid 0.0625rem;
    position: relative;

    .sorting-icon {
      position: absolute;
      right: 0.375rem;
    }
  }
}
