<div class="sorting-container">
  <p class="text-sm mr-4">Sort by</p>

  <button class="sorting-option" *ngFor="let property of sortingProperties" (click)="selectSorting(property.property)">
    {{ property.label | uppercase }}
    <ion-icon class="sorting-icon" *ngIf="property.property === sorting.property" [name]="sortingIcon"></ion-icon>
  </button>
</div>
