.transactions-container {
  app-transaction-searchbar {
    @apply w-full mr-4;
  }

  app-transaction-sorting {
    @apply w-full;
  }

  .transactions-list {
    @apply h-640 overflow-y-scroll;
    margin: 0;
  }
}
