<div class="card transactions-container">
  <div class="card-header">
    <ion-icon class="card-header-icon" name="briefcase"></ion-icon>
    <h5>Recent Transactions</h5>
  </div>

  <div class="card-content">
    <div class="flex justify-between mb-5">
      <app-transaction-searchbar
        (onSearch)="onSearch($event)"
      ></app-transaction-searchbar>

      <app-transaction-sorting
        [sortingProperties]="sortingProperties"
        [(sorting)]="sorting"
      ></app-transaction-sorting>
    </div>

    <div class="transactions-list">
      <app-transaction-item
        *ngFor="let transfer of transfers$ | filterTransactions: search:sorting | async"
        [transfer]="transfer"
      ></app-transaction-item>
    </div>
  </div>
</div>
