<div class="card transfer-container">
  <div class="card-header">
    <ion-icon class="card-header-icon" name="swap-horizontal"></ion-icon>
    <h5>Make a Transfer</h5>
  </div>

  <div class="card-content">
    <form *ngIf="!newTransfer else transferDetail" [formGroup]="transferForm" (submit)="onSubmit()">
      <label>FROM ACCOUNT</label>
      <input type="text" formControlName="from" readonly class="form-control">

      <label>TO ACCOUNT</label>
      <input type="text" formControlName="to" class="form-control" placeholder="SELECT ACCOUNT">

      <label>AMOUNT</label>
      <input type="text" formControlName="amount" currencyMask [options]="currencyOptions" class="form-control-mb0" placeholder="$ 0.00">
      <span class="text-red-500 text-sm" *ngIf="transferForm.hasError('balance')">
        There is not enough balance.
      </span>

      <div class="flex justify-end mt-6">
        <button class="btn-primary" type="submit" [disabled]="transferForm.invalid">
          SUBMIT
        </button>
      </div>
    </form>

    <ng-template #transferDetail>
      <div class="transfer-detail">
        <label>FROM ACCOUNT</label>
        <p>{{ newTransfer?.from }}</p>

        <label>TO ACCOUNT</label>
        <p>{{ newTransfer?.to }}</p>

        <label>AMOUNT</label>
        <p>{{ newTransfer?.amount | currency }}</p>

        <div class="flex justify-evenly mt-8">
          <button class="btn" (click)="onEdit()">
            Edit
          </button>
          <button class="btn-primary" (click)="makeTransfer()">
            Transfer
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>
