/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  @apply bg-white shadow-xl;

  .card-header {
    @apply flex text-white bg-agave h-12 justify-center items-center;
    position: relative;

    h5 {
      @apply m-0 font-normal;
    }

    .card-header-icon {
      @apply text-2xl;
      position: absolute;
      left: 1.5rem;
    }

    img {
      @apply w-6 h-6;
    }
  }

  .card-content {
    @apply px-6 py-5;
  }
}

.btn {
  @apply border-slate-700 px-6 py-3 rounded disabled:opacity-50 disabled:cursor-not-allowed hover:opacity-90;
}

.btn-primary {
  @apply px-6 py-3 rounded disabled:opacity-50 disabled:cursor-not-allowed bg-peach text-white hover:opacity-90;
  width: 12rem;
}

.form-control {
  @apply w-full mb-5 mt-2 border-b pb-1 disabled:opacity-75 outline-0 disabled:cursor-not-allowed text-gray-500 font-light;
}

.form-control-m0 {
  @apply w-full border-b pb-1 disabled:opacity-75 outline-0 disabled:cursor-not-allowed text-gray-500 font-light;
}

.form-control-mb0 {
  @apply w-full mb-0 mt-2 border-b pb-1 disabled:opacity-75 outline-0 disabled:cursor-not-allowed text-gray-500 font-light;
}
